:root {
  --steppy-light: #C380FF;
  --steppy-dark: #592693;
  --steppy-ultra-light: #DBB4FF;
  --steppy-ultra-dark: #373737;
}

main {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.text-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.text-manrope {
  font-family: 'Manrope', sans-serif;
}